.card {
  width: 168px;
  height: 233px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.5s ease;
  position: relative;
}

.card.selected {
  width: 168px;
  height: 233px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.5s ease;
  position: relative;
  transform: translateY(-100px);
}

.card:hover {
  transform: translateY(-100px);
}
