.card {
  width: 168px;
  height: 233px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.5s ease;
  position: relative;
  z-index: 1;
}

.card:hover {
  z-index: 1;
  transform: translateY(-100px);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
